Source: fap-balls
Section: libs
Priority: extra
Maintainer: Yuri Borisov <Yuri.Borisov@teleca.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: fap-balls
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Finite Automata programming framework demo application
 <insert long description, indented with spaces>
